.select-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.select-container:hover button, button:active{
    background: rgb(80, 80, 80);
    color: rgba(255, 255, 255, 0.788);
    border: 1px solid #80808000;
}


button{
    color: gray;
    background: none;
    outline: none;
    padding: 9px;
    text-align: center;
    border: 1px solid #8080801c;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    transition: 1s ease-in-out;
}

ul{
    background: #333333;
    list-style: none;
    padding: 0px;
    color: #d3d3d3;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    top: 100%; 
    left: 0; 
    width: 100%; 
    margin: 0; 
    z-index: 3; 
}

li{
    text-align: end;
    padding: 5px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(66, 66, 66);
    cursor: pointer;
}

li:hover{
    background: #424242;
}

.listActive{
    text-align: center;
    background: #282828;
}

.error{
    border: 1px solid rgb(179, 45, 45);
    border-bottom: 2px solid rgb(179, 45, 45);
}

p{
    color: rgb(179, 45, 45);
    margin-top: 5px;
    position: absolute;
    top: 100%;
    left: 0; 
    z-index: 2;
    width: 100%;
    text-align: end;
}