.payment-card__container{
    background-color: var(--color-black-2);
    color: white;
}

.card{
    border: 1px solid rgba(192, 192, 192, 0.1);
}

ul{
    border-bottom: 1px solid rgba(192, 192, 192, 0.1);
}

ul button{
    color: rgba(192, 192, 192, 0.5);
}




   






