<div class="registers-container">
    <div class="cards-container">
        <app-flip-card 
            [@fadeInOut] 
            [icon]="listIcons[0]"
            [title]="'Transactions'"
            [description]="'Let\'s to register a new Transaction?'"
            [nameButton]="'Yes!'"
            [link]="'/transactions'"
        ></app-flip-card>
        <app-flip-card 
            [@fadeInOut]
            [icon]="listIcons[1]"
            [title]="'Entities'"
            [description]="'Time to register a new Entity!'"    
            [nameButton]="'So let\'s go!'"
            [link]="'/entities'"
        ></app-flip-card>
        <app-flip-card 
            [@fadeInOut]
            [icon]="listIcons[2]"
            [title]="'Products'"
            [description]="'You would like to register a new product?'"
            [nameButton]="'Yeah!'"
            [link]="'/products'"
        ></app-flip-card>
    </div>
</div>
