.register__container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}


.register__content__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}





.register__content{
    padding: 0px 30px;
}




