<div class="container-form">
    <div class="card-form">
        <div class="input-label">
            <label for="">Name: </label>
            <input type="text">
        </div>
        <div class="input-label">
            <label for="">Is a Person?</label>
            <div>
                <label>
                    <input type="radio" name="isPerson" [value]="false" [(ngModel)]="isPerson"> No
                </label>
            
                <label>
                    <input type="radio" name="isPerson" [value]="true" [(ngModel)]="isPerson"> Yes
                </label>
            </div>
        </div>
    </div>
</div>
