
h1{
    font-size: 25px;
}

th, td {
    padding: 5px;
    background:none !important;
}

span{
    background: none !important;
    color: white;
    border: none;
}

tbody tr:hover{
    background:var(--color-gray-2) !important;
}


input{
    background: none;
    outline: none;
    border: none;
    color: white;
    text-align: right;
}

input:focus{
    background: none !important;
    color: white;
    text-align: justify;
}

table td{
    border:none !important;
}


ul{
    border-bottom: 1px solid rgba(192, 192, 192, 0.1);
}

ul a{
    color: rgba(192, 192, 192, 0.5);
}




   






