<h1 class="card-title">{{ nameTable }}</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th *ngFor="let name of listColumnNames">{{name}}</th>
        </tr>
    </thead>

    <tbody class="table-hover">
        <tr class="form-group" *ngFor="let name of resultList.slice(currentPage * pageSize, (currentPage +1) * pageSize)">
            <td class="">{{name}}</td>
            <td class="input-group">
                <input type="number" name="" id="" placeholder="0,00"
                class="form-control" step=".01"
                >
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </td>
        </tr>
        <tr class="form-group">
            <td class="">Total</td>
            <td class="input-group">
                <input type="number" name="" id="" placeholder="0,00"
                class="form-control" readonly step=".01"
                >
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<mat-paginator 
    [length]="resultList.length"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    (page)="onChangePage($event)"
>
</mat-paginator>

