<div class="select-container">  
    <button 
        (click)="openOptions()" 
        [disabled]="disabled"
        [ngClass]="{'error': error}"
    >{{ showsItUp ? selectedField: selectedField[fieldDisplayed] }}</button>
    <ul *ngIf="optionsOpened">
        <li *ngFor="let option of listOptions"
            (click)="selectOption(option)"
            [ngClass]="{'listActive': selectedField === option}"
        >{{ showsItUp ? option : option[fieldDisplayed] }}</li>
    </ul>
    <p *ngIf="error">{{errorMsg}}</p>
</div>

