<div class="modal__container-top" *ngIf="popupOpen && type === 'confirm-delete'"> 
    <div class="modal__content-top modal__content modal__confirm">
        <div class="content__header">
            <fa-icon [icon]="icon" ></fa-icon>
            <h1>Warning</h1>
        </div>
        <p>{{messageBody}}</p>
        <div class="content__buttons">
            <button class="btn btn-danger btn-sm" (click)="close(); emitButtonClicked('close');">Cancel</button>
            <button class="btn btn-success btn-sm" (click)="emitButtonClicked('confirm')">Confirm</button>
        </div>
    </div>
</div> 


<!--Modal Bottom Error-->
<div class="modal__container-bottom" *ngIf="popupOpen && type === 'error-bottom'"> 
    <div class="modal__content-bottom modal__content modal__error">
        <fa-icon [icon]="icon" ></fa-icon>
        <h4>{{messageBody}}</h4>
    </div>
</div> 
<!--Modal Bottom Error-->

<!--Modal Bottom Saved-->
<div class="modal__container-bottom" *ngIf="popupOpen && type === 'success-bottom'"> 
    <div class="modal__content-bottom modal__content modal__success">
        <fa-icon [icon]="icon" ></fa-icon>
        <h4>{{messageBody}}</h4>
    </div>
</div> 
<!--Modal Bottom Saved-->

<!-- <div class="modal__container-top">
    <div class="modal__content-top modal__content">
        <h2>Saved Successfully</h2>
    </div>
</div> -->