<div class="side-bar-container">
    <a href="">Finances</a>
    <div class="menus">
        <div class="menu-top">
            <app-side-bar-link 
                *ngFor="let link of listSideBarLinkTop"
                [nameLink]="link"></app-side-bar-link>
        </div>
        <div class="menu-bottom">
            <app-side-bar-link 
            *ngFor="let link of listSideBarLinkBottom"
            [nameLink]="link"></app-side-bar-link>
        </div>
    </div>
    <app-side-bar-perfil [userName]="userName"></app-side-bar-perfil>
</div>
